{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id"
        content="75892808787-gt2vmjmdv22576v49boiidh0o4nhnrec.apps.googleusercontent.com">
    <title>با صرفه تر | {% block title %}{% endblock title %}</title>
    <BASE href="/">
    <link href="media/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="{% static 'libraries/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'libraries/font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'libraries/vue/vue-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/chunk-vendors.css' %}" rel="stylesheet">
</head>

<body>
    <div id="app">
    <a-layout class="bg-white">
        {% block header %}
        <vue-topprogress ref="topProgress"></vue-topprogress>
      <a-layout class="bg-white">
        <a-layout-header id="header" class="p-0 d-flex justify-content-center" @mouseover="hide_product_type()">
            <a-row type="flex" justify="space-between" align="middle" class="col-12 p-3 h-100 m-0">
                <span class="h3 m-0 px-2 order-1 logo"><router-link class="text-dark align-middle" to="/">با صرفه تر</router-link></span>
                <a-col class="position-relative col col-xl-6 search order-3 order-md-2"><form @submit.prevent="search(search_term)">
                    <input type="search" class="rounded-pill align-top px-4 py-2 w-100" v-model="search_term" @input="search(search_term)"
                    placeholder="جستجو ..." id="search" name="s">
                    <div class="search-btn position-absolute bg-danger"><i class="fa fa-search align-top h4" aria-hidden="true"></i></div>
                </form>
                </a-col>
                <a-col class="icons order-2 order-md-3">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="text-dark" title="خروج از حساب کاربری"><i class="fas fa-sign-out"
                        style="font-size:2.15rem;"></i></a>
                <router-link to="{% url 'manage_account' %}" class="text-dark" title="مدیریت حساب کاربری"><i class="fas fa-user-circle"
                        style="font-size:2.15rem;"></i></router-link>
                {% url 'login' as the_url %}      
                {% with "http://localhost:8000"|add:the_url as ref %}
                    {% if request.META.HTTP_REFERER == ref %}

                    {% endif %} 
                {% endwith %}  
                {% else %}
                <router-link to="{% url 'signup' %}" class="text-dark" title="ثبت نام"><i class="fas fa-user-plus"></i></router-link>
                <router-link to="{% url 'login' %}" class="text-dark" title="ورود به حساب کاربری"><i class="fas fa-user-circle"
                        style="font-size:2.15rem;"></i></router-link>
                {% endif %}
                <router-link to="{% url 'cart_page' %}" class="text-dark"><i
                        class="fas fa-shopping-cart" title="سبد خرید"></i></router-link>
                </a-col>
        </a-row>
        </a-layout-header>
        <div class="d-flex cat-header justify-content-center p-0">
            <div v-if="shw_use_period" class="cat-header-item col-auto row justify-content-center align-items-center m-0">
                <span class="h4 mt-2 mt-lg-1 ml-2 col-auto text-center">دوره مصرف</span>
                    <div class="cat-buttons row my-1">
                        <div @mouseover="shw_product_type(0)" :class="{'active': $store.state.active[0]}">دائم</div>
                        <div @mouseover="shw_product_type(1)" :class="{'active': $store.state.active[1]}">کوتاه مدت</div>
                        <div @mouseover="shw_product_type(2)" :class="{'active': $store.state.active[2]}">میان مدت</div>
                        <div @mouseover="shw_product_type(3)" :class="{'active': $store.state.active[3]}">بلند مدت</div>
                        <div @mouseover="shw_product_type(4)" :class="{'active': $store.state.active[4]}">طولانی مدت</div>
                        <div @mouseover="shw_product_type(5)" :class="{'active': $store.state.active[5]}">عمری</div>
                    </div>
            </div>
        </div>
        <div class="position-relative">
            <!-- sub categories -->
            <subcategories></subcategories>
            {% endblock header %}
            {% block content %}
            {% endblock content %}
        </div>
        <div v-if="$store.state.shw_overlay" class="overlay" @click="hide_product_type()"></div>
        <!-- messages -->
<message :msg="$store.state.msg_text" :msgtype="$store.state.msg_type" />
</a-layout>
</a-layout>
    </div>
    <script src="{% static 'js/chunk-vendors.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% comment %} <script src="http://localhost:8080/app.js"></script> {% endcomment %}
</body>

</html>