{% extends 'base.html' %}
{% load shop_tags %}
{% load crispy_forms_tags %}
{% block title %}سبد خرید{% endblock title %}
{% block content %}
<!-- main content     -->
<div class="noside-container py-3 bg-dark d-flex w-100 justify-content-center" :style="cart_container_height">
    <div class="d-flex flex-column col-12 bg-white col-lg-10 align-items-center p-2 shadow">
        <div class="row justify-content-center w-100">
            {% if c_data != '' %}
            <form method="POST" action="{% url 'submit_order' %}" class="row justify-content-center text-right col-12"
                ref="order_form">
                {% csrf_token %}
                <div class="d-flex flex-row w-100 justify-content-center">
                    <h2 class="text-right mt-2 col-12 p-2 text-danger">سبد خرید</h2>
                </div>
                <cart-items c_data="{{c_data}}"></cart-items>
                <div class="row justify-content-center mt-4 w-100" dir="rtl">
                    <h3 class="text-right col-12 mb-4 p-0">اطلاعات سفارش</h3>
                    <div class="form-row">
                    <input name="order_customer" type="hidden" value="{{customer_id}}">
                    <input name="user" type="hidden" value="{{request.user.id}}">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.mobile_phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.state|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.city|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.zip_code|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.address|as_crispy_field }}
                        </div>
                        <div class="form-group input-sm col-md-6 mb-0">
                            {{ form2.description|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form2.payment_type|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form2.delivery_type|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row col-12 rounded justify-content-between bg-light p-3 align-items-center">
                        <button class="btn btn-success" type="submit" :disabled="order_disabled"
                            @click.prevent="submit_order()">ثبت سفارش</button>
                    </div>
            </form>
        </div>
        {% else %}
        <h3 class="mt-5 text-danger text-right col-12 w-100 text-center">!سبد خرید شما خالی می باشد</h3>
        <img src="https://cdn.dribbble.com/users/887568/screenshots/3172047/ufo.gif" alt="cart is empty">
        {% endif %}
    </div>
</div>
</div>
{% endblock content %}