{% extends 'base.html' %}
{% block title %}خرید جمعی و ارزان{% endblock title %}
{% block content %}
<div id="app" class="container-fluid p-0">
    <div id="header" class="row justify-content-between p-2 m-0" @mouseover="hide_product_type()">
        <div class="d-flex">
            <span class="text-dark h3 m-0 mt-2"><a class="text-danger" href="">BEHBAHA</a></span>
        </div>
        <div class="search position-relative col-8 d-flex">
            <div class="position-relative w-100 d-flex">
                <input autofocus type="search" placeholder="جستجو ..." name="s" id="search"
                    class="border px-4 py-2 w-100 h-100">
                <input type="button" value="جستجو" class="bg-warning border search-btn px-3 h-100">
            </div>
        </div>
        <div class="icons d-flex">
            <i class="fas fa-user"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
    <div class="d-flex cat-header justify-content-center p-0 py-3">

        <div v-if="shw_use_period" class="cat-header-item row justify-content-center align-items-center m-0">
            <span class="h5 mr-1 mb-0">دوره مصرف</span>
            <div class="cat-buttons mr-2 d-flex">
                <a href="#" @mouseover="shw_product_type(0)">دائم</a>
                <a href="#" @mouseover="shw_product_type(1)">کوتاه مدت</a>
                <a href="#" @mouseover="shw_product_type(2)">میان مدت</a>
                <a href="#" @mouseover="shw_product_type(3)">بلند مدت</a>
                <a href="#" @mouseover="shw_product_type(4)">طولانی مدت</a>
                <a href="#" @mouseover="shw_product_type(5)">عمری</a>
            </div>
        </div>

        <!-- sub categories -->
        <transition name="slide">
            <div v-if="product_type[0]" class="product-type">
                <a href="#" @click="shw_products_f()">لبنیات</a>
                <a href="#" @click="shw_products_f()">سبزیجات</a>
            </div>
        </transition>
        <transition name="slide">
            <div v-if="product_type[1]" class="product-type">
                <a href="#" @click="shw_products_f()">سیب زمینی و پیاز</a>
                <a href="#" @click="shw_products_f()">میوه جات</a>
            </div>
        </transition>
        <transition name="slide">
            <div v-if="product_type[2]" class="product-type">
                <a href="#" @click="shw_products_f()">روغن</a>
            </div>
        </transition>
        <transition name="slide">
            <div v-if="product_type[3]" class="product-type">
                <a href="#" @click="shw_products_f()">لوازم التحریر</a>
                <a href="#" @click="shw_products_f()">لوازم جانبی خودرو</a>
            </div>
        </transition>
        <transition name="slide">
            <div v-if="product_type[4]" class="product-type">
                <a href="#" @click="shw_products_f()">لوازم دیجیتال</a>
            </div>
        </transition>
        <transition name="slide">
            <div v-if="product_type[5]" class="product-type">
                <a href="#" @click="shw_products_f()">لوازم خانگی</a>
            </div>
        </transition>
    </div>

    <div class="cards-container d-flex flex-row-reverse">
        <div class="products-filters-sidebar col d-flex flex-column text-right p-2 px-2">
            <div class="d-flex flex-column">
                    <div class="d-flex flex-column border-bottom">
                    <div>شهر</div>
                    <v-select dir="rtl" :clearable="false" :options="provinces" v-model="selected_city" class="mt-2 bg-light"></v-select>
                    </div>
                <div class="d-flex flex-column border-bottom p-2">
                    <div>نوع مصرف</div>
                    <div class="d-flex flex-row mt-3">
                            <a name="" id="" class="btn btn-light ml-2" href="#" role="button">خانگی</a>
                            <a name="" id="" class="btn btn-light" href="#" role="button">صنعتی</a>      
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column mt-2">
                    <div class="d-flex flex-column border-bottom p-2">
                        <div>قیمت</div>
                        <div class="mt-2 ml-2">حداقل</div>
                        <input class="mt-1 p-2 rounded border" v-model="min_price" @input="set_price_filter(min_price, 'm')" type="string" name="min-price" id="min-price">
                        <div class="mt-2 ml-2">حداکثر</div>
                        <input class="mt-1 p-2 rounded border" v-model="max_price" @input="set_price_filter(max_price, 'h')" type="string" name="max-price" id="max-price">
                    </div>
                </div>
        <a name="" id="" class="btn btn-primary m-2" href="#" role="button">فیلتر کن</a>
        </div>
        <div class="d-flex flex-column col-10 align-items-center p-0" style="direction: ltr;overflow: auto;"
            :style="cards_container_height">
            <div v-if="shw_products" class="product-cards w-100 p-3">
                {% for i in i|rjust:14 %}
                <product-card></product-card>
                {% endfor %}
            </div>
            <div class="page-numbers-container row py-2 text-center justify-content-center w-100">
                <a href="#" class="text-danger">{% verbatim %}{{toPersianNum("1")}}{% endverbatim %}</a>
                <a href="#">{% verbatim %}{{toPersianNum("2")}}{% endverbatim %}</a>
            </div>
        </div>
    </div>
    <div v-if="shw_overlay" class="overlay" @click="hide_product_type()"></div>
    <product-details-box></product-details-box>
</div>
{% endblock content %}