{% load crispy_forms_tags %}
    <div class="bg-white d-flex flex-column col-11 col-lg-4 p-2 rounded shadow align-items-center"
        style="direction: ltr;overflow: auto;height: max-content;">
        <div class="col-12" dir=rtl>
            {% if request.GET.registered == '' %}
            <div class="alert alert-success text-right mt-2" role="alert">
                ثبت نام شما با موفقیت انجام شد.
            </div>
            {% endif %}
            <div class="row justify-content-between px-3 p-2 align-items-center">
                <h2 class="text-right ml-2">ورود به حساب کاربری</h2>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-danger p-2"><i
                        class="fab fa-google h3 align-middle m-0 ml-2"></i>ورود با گوگل</a>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="text-right">
                    {{ form|crispy }}
                </div>
                <div class="row justify-content-between bg-light p-3 align-items-center">
                    <button class="btn btn-primary col-3" type="submit">ورود</button>
                    <a class="mt-2 mt-sm-0" href="{% url 'signup' %}">کاربر جدید هستید؟ اینجا کلیک کنید</a>
                </div>
            </form>
        </div>
    </div>