@font-face{
    font-family: yekan;
    src: url(/static/Yekan.woff);
}
* {
    font-family : "yekan"!important
   }
   input, textarea, select, .form-row p, form .button {
    font-family : "yekan"!important;
   }   
   .field-titleAamount{
       white-space: pre-line;       
   }