@font-face{
    font-family: yekan;
    src: url(/static/Yekan.woff);
}
*{
    font-family: yekan;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.checked {
    color: orange;
  }
  .v-select[dir=rtl] .vs__actions{
    padding: 6px 3px 0 6px!important;
  }  
#app{
    display: flex;
    flex-flow: column;
    height: 100%;
}
input{
    outline: 0!important;
}
#header{
    background: white;
    z-index: 6;
}
#header a{
    text-decoration: none;
}
#search{
    border-radius: 0 30px 30px 0;
}
.icons{
    display: none!important;
}
.search-btn {
    padding: 0.4rem 0.7rem;
    border: 0;
    border-right: 1px solid gainsboro;
    background: white;
    border-radius: 30px 0 0 30px;
}
.search-btn:hover {
    filter: brightness(95%);
}
.cat-header {
    position: relative;
    background: rgb(220, 220, 220);
    cursor: context-menu;
    z-index: 6;
    /* box-shadow: 0 2px 7px -4px #6f6f6f; */
}
.cat-btn{
    cursor: pointer;
    background: rgb(233, 233, 233);
    font-size: 1.2rem;
}
.adv-search{
    cursor: pointer;
    padding: 0.4rem 1rem;
    background: white;
    margin: 0.6rem 0;
    border: 1px solid #b1b1b1;
}
.cat-buttons a{
    margin: 0.5rem;
    color: black;
    text-decoration: none;
    background: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: all 0.3s;
}
.cat-buttons a:hover{
    background: rgb(195, 195, 195);
}
.product-type{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0.875rem 4rem;
    background: rgb(255, 255, 255);
    text-align: right;
    border-top: 1px solid rgb(177, 177, 177);
    box-shadow: 0 4px 2px -2px #6f6f6f;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    direction: rtl;
    grid-gap: 1rem;
}
.product-type a{
    color: black;
    background: #e8e8e8;
    font-size: 1.2rem;
    text-align: center; 
    margin: 0;
    padding: 0.6rem;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s;
}
.product-type a:hover{
    filter: brightness(90%);
}
.overlay {
    background: rgba(50,50,50,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 4;
}
.overlay2{
    z-index: 7;
}
.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    row-gap: 0px;
    column-gap: 15px;
    direction: rtl;
}
.card-box {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-box:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}
.card-box:hover .card-box-price, .card-box:hover .card-box-footer{
    color: black;
}
.card-box:hover .card-box-img{
    filter: contrast(110%) brightness(102%);
}
.card-box-img img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.card-box-title{
    color: #d20000;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-box-price{
    color: rgb(99, 99, 99);
    font-size: 1.05rem;
}
.card-box-footer{
    color: rgb(99, 99, 99);
    font-size: 1rem;
}
.progress-bar {
    color: rgb(12, 12, 12);
}
.progress {
    font-size: 1rem;
    height: 1.6rem;
}
.shopping-basket{
    cursor: pointer;
    font-size: 1rem;
}
.cards-container{
    position: relative;
    direction: ltr;
}
.icons i {
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}
.slide-enter-active, .slide-leave-active {
    transition: all .5s;
  }
  .slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(-100%);
    opacity: 0;
  }
  .fade-enter-active, .fade-leave-active {
    transition: all .3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }  
.product-details-box {
    position: fixed;
    width: 70%;
    height: calc(100% - 50px);
    overflow: auto;
    margin: 20px 0;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: context-menu;
    z-index: 7;
}  
.dt-title {
    font-size:1.3rem;
}
.dt-price{
    color: rgb(241, 0, 0);
    font-size: 1.05rem;
}
.dt-order-amount {
    border: 1px solid gainsboro;
    border-radius: .25rem;
}
.dt-img img {
    object-fit: contain;
}
.products-filters-sidebar{
    display:none;
    direction: rtl;
    background: rgb(238, 238, 238);
}
.page-numbers-container{
    box-shadow: 0px 3px 7px #cecece, 0px -2px 5px #cecece;
    z-index: 4;
    position: absolute;
    right: 0;
    bottom: 0px;
    margin: 0;
}
.page-numbers-container a{
    padding: 0 0.7rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.price-range th, .price-range td{
text-align:right;
}
.close-btn {
    right: 15px;
    top: 0;
    font-size: 3rem;
    color: white;
    cursor: pointer
}
.msg-box {
    width: 100%;
    border-radius: 0;
}
.cart-table{
    direction: rtl;
}
.cart-table th,.cart-table td{
    text-align: right;
}
.cart-table th{
    border-top: 0;
}
@media only screen and (min-width: 768px) {
.msg-box {
    width: 20%;
}
.icons{
    display: flex!important;
}
.products-filters-sidebar{
    display:flex;
    flex-direction: column;
}
}