@font-face{
    font-family: yekan;
    src: url(/static/Yekan.woff);
}
*{
    font-family: yekan;
    scrollbar-color: #F5F5F5;
    scrollbar-width: thin;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #999999;
}
a:hover {
    text-decoration: none;
}
.checked {
    color: orange;
  }
  .v-select[dir=rtl] .vs__actions{
    padding: 6px 3px 0 6px!important;
  }  
#app{
    display: flex;
    flex-flow: column;
    height: 100%;
}
input{
    outline: 0!important;
}
#header{
    background: white;
    z-index: 6;
}
#header * {
    height: 100%;
}
#header a{
    text-decoration: none;
}
.icons{
    display: none!important;
}
#search {
    border: 1px solid #afafaf !important;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    font-size: 1.15rem;
    transition: all 0.2s linear;
}
#search:hover {
    border: 1px solid #afafaf !important;
}
.search-btn {
    padding: 0.8rem 1.7rem;
    border: 0;
    border-right: 1px solid gainsboro;
    color: white;
    border-radius: 30px 0 0 30px;
    top: 0;
    left: 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.cat-header {
    position: relative;
    background: #fff;
    border-top: 1px solid #d9d9d9;
    cursor: context-menu;
    z-index: 6;
    box-shadow: 0 6px 4px -4px #d5d5d5;
}
.cat-btn{
    cursor: pointer;
    background: rgb(233, 233, 233);
    font-size: 1.2rem;
}
.adv-search{
    cursor: pointer;
    padding: 0.4rem 1rem;
    background: white;
    margin: 0.6rem 0;
    border: 1px solid #b1b1b1;
}
.cat-buttons div{
    flex: 1 0 auto;
    text-align: center;
    margin: 0.5rem;
    cursor: pointer;
    color: rgb(56, 56, 56);
    text-decoration: none;
    background: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    transition: all 0.3s;
}
.ant-layout-content{
    padding: 0 1rem 0 1rem;
}
.cat-buttons div{
    position: relative;
}
.cat-buttons .active{
    background: #f0f0f0;
}
.cat-buttons .active:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid #dc3545;
}
.product-type{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0.875rem 4rem;
    background: rgb(233, 233, 233);
    text-align: right;
    border-top: 1px solid rgb(177, 177, 177);
    box-shadow: 0 4px 2px -2px #6f6f6f;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    direction: rtl;
    grid-gap: 1rem;
}
.product-type a{
    color: black !important;    
    font-size: 1.2rem;    
    text-align: center;  
    margin: 0;
    padding: 0.6rem;
    text-decoration: none;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #aeaeae;
    transition: all .3s;
}
.product-type a:hover{
    color: #f01c1c!important;
}
.ant-layout-header{
    height: 81px!important;
}
.overlay {
    background: rgba(50,50,50,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 4;
}
.overlay2{
    z-index: 7;
}
.product-cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    row-gap: 15px;
    column-gap: 15px;
    direction: rtl;
}
.ant-card:hover .card-box-price, .ant-card:hover .card-box-footer{
    color: rgb(56, 56, 56);
}
.ant-card:hover .card-box-img img{
    filter: contrast(110%) brightness(103%);
}
.card-box-img img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: all .3s linear;
}
.ant-card-body {
    padding: 0!important;
}
.ant-card-head-title{
    text-align: right;
}
.card-box-price{
    color: rgb(99, 99, 99);
    font-size: 1.05rem;
    transition: all .3s linear;
}
.card-box-footer{
    color: rgb(99, 99, 99);
    font-size: 1rem;
    transition: all .3s linear;
}
.progress-bar {
    color: rgb(12, 12, 12);
}
.progress {
    font-size: 1rem;
    height: 1.6rem;
}
.shopping-basket{
    cursor: pointer;
    font-size: 1rem;
}
.cards-container{
    position: relative;
    direction: ltr;
}
.icons i {
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.product-details-box {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: context-menu;
    z-index: 99;
}  
.dt-title {
    font-size:1.3rem;
}
.dt-price{
    color: rgb(241, 0, 0);
    font-size: 1.05rem;
}
.dt-order-amount {
    border: 1px solid gainsboro;
    border-radius: .25rem;
}
.dt-img img {
    object-fit: contain;
    height: 400px;
}
.dt-desc {
    white-space: pre-line;
    line-height: 1.8rem;
}
.sold::before {
    content: '\f00c';
    font-family: "Font Awesome 5 Pro";
    left: 15px;
    position: absolute;
    vertical-align: middle;
}
.products-filters-sidebar{
    display:none;
    direction: rtl;
    background: rgb(238, 238, 238);
    font-size: 1rem;
}
.noside-container{
    background: #f5f5f5 !important;
}

.page-numbers-container{
    /* box-shadow: 0px 3px 7px #cecece, 0px -2px 5px #cecece; */
    z-index: 4;
    position: relative;
    right: 0;
    bottom: 0px;
    margin: 0;
    background: white;
}
.page-numbers-container button{
    font-size: 1.4rem;
}
.page-numbers-container a{
    padding: 0 0.7rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.price-range th, .price-range td{
text-align:right;
}
.close-btn {
    right: 5%;
    top: 19px;  
    font-size: 1.9rem;
    font-weight: normal;
    color: #686868;
    cursor: pointer;
    z-index: 100;
    margin-right: 10px;
}
.msg-box {
    width: 95%;
    bottom:1rem;
    left: 0;
    right: 0;
    margin: 0 auto!important;
    z-index: 8;
}
.cart-table{
    direction: rtl;
}
.cart-table th,.cart-table td{
    text-align: right;
}
.cart-table th{
    border-top: 0;
}
.cart-amount-input i{
    cursor: pointer;
    font-size: 0.7rem;
    padding: 0.1rem;
}
.dt-container {
    z-index: 99;width: 100%;height: 100%;position: fixed;top: 0;right: 0;
}
.slide-enter-active, .slide-leave-active {
    transition: transform .5s;
  }
  .slide-enter, .slide-leave-to {
    transform: translateY(-100%);
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }  

  .fade-slideup-enter-active, .fade-slideup-leave-active {
    transition: all .3s;
  }
  .fade-slideup-enter, .fade-slideup-leave-to {
    transform: translateY(100%);
    opacity: 0;
  }  

  .fade-zoom-enter-active, .fade-zoom-leave-active {
    transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .fade-zoom-enter, .fade-zoom-leave-to {
    transform: scale(0);
  }  

@media only screen and (min-width: 768px) {
.msg-box {
    width: 20%;
    bottom:1rem;
    right:1rem;
    left: initial;
    margin: initial!important;
}
.icons{
    display: flex!important;
    align-items: center;
}
.products-filters-sidebar{
    display:flex;
    flex-direction: column;
}
.close-btn{
    right: 15px;
    top: 5px;
    font-size: 2.5rem;
}
}